body {
    padding: 0;
    margin: 0;
    background: #cb997e;
}
.container {
    text-align: center;
    padding: 0;
    margin: 0;
}
#TurkeyHunt {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.game {
    position: relative;
    margin: auto;
}
.environment {
    position: relative;
    height: 100%;
    width: 100%;
}
.sky {
    position: relative;
    height: 30%;
    width: 100%;
    background-color: #8ecae6;
    overflow: hidden;
}
.cloud {
    position: absolute;
    background-color: #caf0f8;
    border-radius: 50%;
    border: 1px solid #ade8f4;
    opacity: 70%;
    transform: translateY(-100%)
}
.ground {
    position: relative;
    height: 70%;
    width: 100%;
    background-color: #b7b7a4;
}
.grass {
    background-color: #a5a58d;
}
.blade {
    position: absolute;
    transform: translateY(-100%);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 12px solid ;
}
.blade-0 {
    border-bottom-color: #6b705c;
}
.blade-1 {
    border-bottom-color: #006466;
}
.blade-2 {
    border-bottom-color: #588157;
}