body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: #eee;
    background-color:  #333;
}
.container {
    text-align: center;
    padding: 0;
    margin: 0;
}
#TurkeyHunt {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.game {
    position: relative;
    margin: auto;
    overflow: hidden;
}
.environment {
    position: relative;
    height: 100%;
    width: 100%;
}
.sky {
    position: relative;
    height: 30%;
    width: 100%;
    background-color: #8ecae6;
    overflow: hidden;
}
.cloud {
    position: absolute;
    background-color: #caf0f8;
    border-radius: 50%;
    border: 1px solid #ade8f4;
    opacity: 70%;
    transform: translateY(-100%)
}
.ground {
    position: relative;
    height: 70%;
    width: 100%;
    background-color: #b7b7a4;
}
.ground-tiles {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.ground-row {
    height: 32px;
    width: 100%;
    white-space: nowrap;
}
.ground-column {
    display: inline-block;
    height: 100%;
    width: 32px;
}
.ground-0 {
    background: url('./images/grass_tile.png')
}
.ground-1 {
    background: url('./images/grass_tile2.png')
}
.ground-2 {
    background: url('./images/grass_tile3.png')
}
.ground-3 {
    background: url('./images/grass_tile3.png')
}
.ground-asset {
    transform: translateY(-100%);
    position: absolute;
    background-size: contain;
}
.ground-asset-0 {
    height: 64px;
    width: 64px;
    background-image: url('./images/rock.png');
}
.ground-asset-1 {
    height: 102px;
    width: 102px;
    background-image: url('./images/tree.png');
}
.ground-asset-2 {
    height: 102px;
    width: 102px;
    background-image: url('./images/tree2.png');
}
.turkey-container {
    position: absolute;
    top: 30%;
    height: 70%;
    left: 0;
    width: 100%;
}
.turkey-control {
    position: relative;
    width: 100%;
    height: 100%;
}
.turkey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    transform: scale(1.5) translateY(-100%);
    background-image: url("./images/turkey_towards.gif");
    background-size: 100%;
}
.turkey.left {
    transform: scaleX(-1.5) translateY(-100%);
}
.turkey.away {
    background-image: url("./images/turkey_away.gif");
}
