body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: #eee;
    background-color:  #333;
}
.container {
    text-align: center;
    padding: 0;
    margin: 0;
}
#TurkeyHunt {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.game {
    position: relative;
    margin: auto;
    overflow: hidden;
    cursor: none;
}
.environment {
    position: relative;
    height: 100%;
    width: 100%;
}
.sky {
    position: relative;
    height: 30%;
    width: 100%;
    background-color: #8ecae6;
    overflow: hidden;
    background-image: url('./images/sky.png');
    background-size: auto 100%;
}
.cloud {
    position: absolute;
    background-image: url('./images/cloud.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 70%;
    transform: translateY(-100%)
}
.horizon {
    position: absolute;
    height: 8%;
    width: 100%;
    background-image: url('./images/horizon_dark.png');
    background-size: contain;
    top: 0;
    transform: translateY(-100%);
}
.ground {
    position: relative;
    height: 70%;
    width: 100%;
    background-color: #b7b7a4;
}
.ground-tiles {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.ground-row {
    height: 7.2%; /* 1/14 */
    width: 100%;
    white-space: nowrap;
}
.ground-column {
    display: inline-block;
    height: 100%;
    width: 5%;
}
.ground-0 {
    background: url('./images/grass_tile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ground-1 {
    background: url('./images/grass_tile2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ground-2 {
    background: url('./images/grass_tile3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ground-3 {
    background: url('./images/grass_tile3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ground-asset {
    transform: translateY(-100%);
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}
.ground-asset-0 {
    background-image: url('./images/rock.png');
}
.ground-asset-1 {
    background-image: url('./images/tree_fall.png');
}
.ground-asset-2 {
    background-image: url('./images/tree_fall2.png');
}
.ground-asset-3 {
    background-image: url('./images/tree_fall3.png');
}
.turkey-container {
    position: absolute;
    top: 30%;
    height: 70%;
    left: 0;
    width: 100%;
}
.turkey-control {
    position: relative;
    width: 100%;
    height: 100%;
}
.turkey {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.25s linear;
    transform: translateY(-100%);
    background-image: url("./images/turkey_towards.gif");;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
}
.turkey.left {
    transform: scaleX(-1) translateY(-100%);
}
.turkey.away {
    background-image: url("./images/turkey_away.gif");
}
.turkey.dead {
    background-image: url("./images/turkey_death.gif");
}
.scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.mouse-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 110;
    pointer-events: none;
}
.gun {
    position: absolute;
    top: 100%;
    left: 50%;
    background-image: url('./images/shotgun.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 25%;
    height: 25%;
}
.gun.firing {
    background-image: url('./images/shotgun_blast.png');
}
.target {
    position: absolute;
    width: 2%;
    height: 2%;
    transform: translate(-50%, -50%);
    background-image: url('./images/crosshair.png');
    background-position: center;
    background-size: 100% 100%;
}
.ammo {
    position: absolute;
    width: 5%;
    transform: translateY(-100%);
    padding-bottom: 1%;
    height: 6%;
    width: 100%;
    text-align: left;
    z-index: 108;
    pointer-events: none;
}
.shell {
    display: inline-block;
    height: 100%;
    width: 3%;
    background-image: url('./images/shotgun_shell.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: initial;
}
.shell.used {
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
